.image-list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  display: flex;
  width: 100px;
  overflow-x: hidden;
  gap: 20px;
  padding: 0 600px;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  object-fit: cover;
}
